@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Orbit&display=swap');


/*-- Global style --*/
body {
    width: 100%;
    height: 1300px;
    font-family: orbit, sans-serif;
    text-align: center;
    background: whitesmoke;
    background: url('../images/jungle2.jpg') center center/ cover no-repeat fixed;
    position: absolute;
}



/* main-heading and media queries */

#main-heading {
    font-family: kablammo;
    font-size: 300%;
    /*-- code used from W3docs to add a multicolor effect to the heading --*/
    background-image: linear-gradient(to left, violet, indigo, turquoise, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    /*-- end of W3docs code --*/
}

@media only screen and (max-width: 600px) {
    #main-heading {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    #main-heading {
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    #main-heading {
        width: 100%;
    }
}

/* end of main-heading and media queries */

/* instructions and media queries */

#instructions {
    color: whitesmoke;
    width: 80%;
    background-color: rgb(255, 168, 0, 0.5);
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    #instructions {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    #instructions {
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    #instructions {
        width: 100%;
    }
}

/* end of instructions and media queries */

/* snake board and media queries */

#board {
    position: relative;
}

@media only screen and (max-width: 600px) {
    #board {
        width: 100%;
        margin-left: 1px;
    }
}

@media only screen and (max-width: 768px) {
    #board {
        width: 100%;
        margin-left: 1px;
    }
}

@media only screen and (max-width: 992px) {
    #board {
        width: 100%;
        margin-left: 1px;
    }
}

/* end of snake board and media queries */

/* score counter */
#score {
    color: whitesmoke;
    position: relative;
}

/* restart button */
#restart {
    position: relative;
    height: 50px;
    width: 100px;
    border-radius: 5px;
}

/* footer and media queries */

footer {
    height: 80px;
    width: 100%;
    background-color: whitesmoke;
    bottom: 0;
    position: absolute;
}


footer li {
    list-style: none;
    display: inline-block;
    margin-top: 20px;
}

/* end of footer and media queries */


